.paymentButton{
  display: block;
  width: fit-content;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 15px 0;
}

.paymentButton:hover{
  background: #444;
}

.paymentButton:active{
  padding: 9px 14px;
  margin: 16px 1px;
  background: #333;
}
